@charset "utf-8";  

//页面中出现频率较高的参数设置

$color1: rgb(240,240,240);
$color2: rgb(41,189,224);
$color3: rgb(251,200,121);
$color4: rgb(105,209,233);
$color5: white;
$color6: lightgray;
$color7: darkgray;
$color8: rgb(185,233,245);
$width: 100%;
$width2: 90%;
$height: 3rem;
$height2: 2.5rem;
$top: 6rem;
$bottom: 5rem;
$left: 5%;
$fontsize: 1.2rem;